.st0,
.st1 {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 17.6762;
    stroke: var(--color-foreground);
}
.st1 {
    stroke-linecap: round;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -14px;
    width: 100px;

}

/* Hover effect for when the icon is on a link */
a:hover .st0,
a:hover .st1 {
    stroke: var(--color-primary);
}