/* Light Theme (default in :root) */
:root {
  --background-color: #d2d2d2;
  --foreground-color: #2e2e2e;
  --primary: #ff298c;
  --text-color: var(--foreground-color);
}

/* Dark Theme */
html.dark {
  --background-color: #2e2e2e;
  --foreground-color: #d2d2d2;
  --text-color: var(--foreground-color);

  color-scheme: dark;
}

html.light {
  --background-color: #ffffff;
  --foreground-color: #2e2e2e;
  --text-color: var(--foreground-color);

  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

main {
  padding: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}



@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}
