.container {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-58) var(--spacing-24) var(--spacing-24);
    position: relative;
}

.logoLink {
    border-radius: var(--spacing-4);
    border: var(--spacing-2) dashed var(--color-foreground);
    display: block;
    height: 100px;
    left: 0;
    margin: var(--spacing-24) auto;
    padding: var(--spacing-4);
    position: absolute;
    right: 0;
    width: 100px;
    z-index: 10;
}
