.cardList {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: var(--spacing-24) 0;
    line-height: 1.5;
    list-style-position: inside;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.productImage {
    display: block;
    margin: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .cardList {
        flex-direction: row;
        gap: var(--spacing-32);
        justify-content: center;
    }
}
