.footer {
    align-items: center;
    background-color: var(--color-foreground);
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-14);
    justify-content: center;
    padding: var(--spacing-14) 0;
}
