.footer {
    align-items: center;
    background-color: var(--color-foreground);
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    padding: 14px 0;
}
